[buildout]
parts =
    productdistros
    zopepy

extends = 
    http://dist.plone.org/release/4.1b1/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0b7
    http://good-py.appspot.com/release/plone.app.caching/1.0b2

versions = versions

find-links +=
    http://dist.plone.org/release/4.1b1
    http://dist.plone.org/thirdparty

eggs =
    netsight.ploneconf2010_theme
    netsight.conferencetalks
    plone.app.dexterity
    plone.app.caching
    gdata


extensions = mr.developer
auto-checkout = *
always-checkout = true
    
[sources]
netsight.ploneconf2010_theme = git git@github.com:ploneconf/netsight.ploneconf2010_theme.git
netsight.conferenceregistration = git git@github.com:ploneconf/netsight.conferenceregistration.git
netsight.conferencetalks = git git@github.com:ploneconf/netsight.conferencetalks.git


[versions]
gdata = 2.0.9


# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance-settings]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
the-recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 12801
#debug-mode = on
#verbose-security = on
blob-storage = ${buildout:directory}/var/blobstorage
eggs =
    Zope2
    Plone
    ${buildout:eggs}
zcml = 

products =
    ${buildout:directory}/products
    ${productdistros:location}

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance-settings:eggs}
interpreter = zopepy
scripts = zopepy


[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = 127.0.0.1:12800
# effective-user = zope
blob-storage = ${instance-settings:blob-storage}