# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        #log loghost    local0 info
        maxconn 4096
        #chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

listen  ploneconf 0.0.0.0:10002
        balance leastconn   
        server  client1 127.0.0.1:10000  check inter 2000 rise 2 fall 5
        server  client2 127.0.0.1:10001  check inter 2000 rise 2 fall 5

